.git
.gitignore
.venv
venv
env
__pycache__
*/__pycache__
*.py[cod]
*.egg-info
.eggs
dist
build
.pytest_cache
.mypy_cache
.ruff_cache
.idea
.vscode
.cursor
logs
*.log
notebook/catboost_info
notebook/*.ipynb
.ebextensions
README.md
